@import "tailwindcss";

.custom {
  width: 30rem;
  padding-left: 0.7rem;
  height: 3rem;
}

.s {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bg-custom {
  background-image: url("../src/assets/screen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* ::placeholder{
    padding: 10px;
} */


.h{

  height: 10rem;
}

.h-custom{
  height: 2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #0A0A0C inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}